{{#.}}
    <li id="{{id}}" class="swipeout">
        <div data-id="{{id}}" class="item-link item-content swipeout-content">
            <div class="item-media"><i class="icon ion-person"></i></div>
            <div class="item-inner">
                <div class="item-title">{{firstName}} {{lastName}}</div>
            </div>
        </div>
        <div class="swipeout-actions-left">
            <a href="#" data-id="{{id}}" class="swipeout-delete">Delete</a>
        </div>
    </li>
{{/.}} 